<template>
  <b-button-group
    vertical
    v-if="viewParams.show"
    class="position-fixed"
    :style="position"
  >
    <b-button class="d-flex gap-2" @click="removeEntries">
      <b-icon icon="trash" font-scale="1" />
      <p class="m-0 p-0">Remove</p>
    </b-button>
  </b-button-group>
</template>

<script>
export default {
  props: {
    viewParams: {
      type: Object,
      required: true,
    },
  },
  computed: {
    position() {
      return {
        top: this.viewParams.clientY + "px",
        left: this.viewParams.clientX + "px",
      };
    },
  },
  methods: {
    removeEntries() {
      this.$parent.hideContextMenu();
      this.$store.dispatch("removeEntries");
    },
  },
};
</script>
<style scoped>
.tst-context-menu {
  position: fixed;
}
</style>
