<template>
  <div class="d-flex my-2">
    <b-button @click="modalView = true">Create folder</b-button>
    <b-modal hide-footer v-model="modalView">
      <form @submit.prevent="createFolder" class="d-flex gap-2">
        <b-form-input
          v-model="folderName"
          placeholder="Enter folder name"
        ></b-form-input>
        <b-button @click="createFolder">Ok</b-button>
      </form>
    </b-modal>
  </div>
</template>
<script>
import rest from "../plugins/rest.api";

export default {
  data: () => ({
    folderName: "",
    modalView: false,
  }),
  methods: {
    createFolder() {
      this.modalView = false;
      const pathWithoutExplorer = this.$route.path.replace("/explorer", "");
      const path = pathWithoutExplorer + "/" + this.folderName;
      rest.post("/path/create-folder", { path }).then(() => {
        this.$store.dispatch("getEntries", pathWithoutExplorer);
      });
    },
  },
};
</script>
