<template>
  <b-alert v-if="message.length != 0" show variant="danger" class="m-2">
    {{ message }}
  </b-alert>
</template>
<script>
export default {
  computed: {
    message() {
      return this.$store.getters.errorMessage;
    },
  },
};
</script>
