<template>
  <div @dragover.prevent @drop="onDrop">
    <b-list-group @contextmenu.prevent="contextmenu">
      <path-toolbar />
      <path-file
        v-for="fileInfo in entries"
        :key="fileInfo.id"
        :info="fileInfo"
      />
      <context-menu
        :viewParams="contextMenuPositionParams"
        v-click-outside="hideContextMenu"
      />
    </b-list-group>
  </div>
</template>
<script>
import PathFile from "./PathFile.vue";
import PathToolbar from "./PathToolbar.vue";
import ContextMenu from "./ContextMenu.vue";
import ClickOutside from "vue-click-outside";
import UploadMixin from "../mixins/upload.js";

export default {
  mixins: [UploadMixin],
  computed: {
    entries() {
      return this.$store.getters.entries;
    },
  },
  directives: {
    ClickOutside,
  },
  data: () => ({
    contextMenuPositionParams: {
      show: false,
      clientX: 0,
      clientY: 0,
    },
  }),
  components: {
    PathFile,
    PathToolbar,
    ContextMenu,
  },
  methods: {
    // Calls the context menu and sets the position
    contextmenu(e) {
      this.contextMenuPositionParams.show = true;
      this.contextMenuPositionParams.clientX = e.clientX;
      this.contextMenuPositionParams.clientY = e.clientY;
    },
    hideContextMenu() {
      this.contextMenuPositionParams.show = false;
    },
  },
};
</script>
<style>
.tst-list-grid-item {
  display: grid;
  grid-template-columns: 20px 1px 50px 1px 35% 1px 50px 1px 8% 1px 16% 1px;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.tst-file-name {
  text-align: start;
}

.tst-group-item-hover-overlay:hover {
  background-color: var(--bs-light);
  cursor: pointer;
}
</style>
