<template>
  <b-list-group-item
    @contextmenu.prevent="contextmenu"
    class="tst-group-item-hover-overlay"
  >
    <div class="tst-list-grid-item">
      <b-form-checkbox
        ref="checkbox"
        v-model="info.selected"
        :name="`checkbox-${info.id}`"
      >
      </b-form-checkbox>
      <div class="vr"></div>
      <div>
        <b-icon
          font-scale="1.3"
          :icon="info['.tag'] === 'folder' ? 'folder2' : 'file-earmark'"
        ></b-icon>
      </div>
      <div class="vr"></div>
      <p class="tst-file-name m-0 p-0" @click="leftclick(info)">
        {{ info.name.length > 44 ? `${info.name.slice(0, 44)}...` : info.name }}
      </p>
      <div class="vr"></div>
      <p class="m-0 p-0">{{ extension }}</p>
      <div class="vr"></div>
      <p v-if="info.size" class="m-0 p-0">{{ formattedSizing }}</p>
      <div v-else />
      <div class="vr"></div>
      <p v-if="info.client_modified" class="m-0 p-0">
        {{ formattedModifiedDate }}
      </p>
      <div v-else />
      <div class="vr"></div>
    </div>
  </b-list-group-item>
</template>
<script>
export default {
  props: {
    info: {
      type: Object,
      required: true,
    },
  },
  computed: {
    // get the file extension by file original name
    extension() {
      let splittedFileName = this.info.name.split(".");
      if (this.info[".tag"] == "folder") return "folder";
      else return splittedFileName[splittedFileName.length - 1];
    },
    formattedModifiedDate() {
      return this.info.client_modified.replace("T", " ").replace("Z", "");
    },
    formattedSizing() {
      let bytes = this.info.size;
      let sizes = ["Bytes", "KB", "MB", "GB", "TB"];
      if (bytes == 0) return "0 Byte";
      let i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      return Math.round(bytes / Math.pow(1024, i), 2) + " " + sizes[i];
    },
  },
  methods: {
    leftclick(info) {
      if (info[".tag"] == "folder") {
        this.$router.push(`${this.$route.path}/${info.name}`);
      }
    },
    contextmenu() {
      this.info.selected = true;
    },
  },
};
</script>
<style scoped></style>
