<template>
  <b-list-group-item class="bg-light">
    <div class="tst-list-grid-item">
      <b-form-checkbox @change="selectAll" name="checkbox-all">
      </b-form-checkbox>
      <div class="vr"></div>
      <div>
        <b-button @click="routeUp">
          <b-icon icon="arrow-up" font-scale="1"></b-icon>
        </b-button>
      </div>
      <div class="vr"></div>
      <p class="tst-file-name m-0 p-0">Names</p>
      <div class="vr"></div>
      <p class="m-0 p-0">Type</p>
      <div class="vr"></div>
      <p class="m-0 p-0">Size</p>
      <div class="vr"></div>
      <p class="m-0 p-0">Modified date</p>
      <div class="vr"></div>
    </div>
  </b-list-group-item>
</template>
<script>
export default {
  methods: {
    selectAll(e) {
      this.$store.commit("selectAll", e);
    },
    routeUp() {
      let path = this.$route.path;
      let upPath = path.split("/");
      upPath.pop();
      if (upPath[1] === undefined) null;
      else this.$router.push(upPath.join("/"));
    },
  },
};
</script>
