<template>
  <div
    v-if="removingFiles.length !== 0"
    class="d-flex justify-content-start fixed-bottom w-25 gap-2 p-3 m-3 bg-dark rounded"
  >
    <div>
      <div
        class="spinner-border text-light spinner-border-sm"
        role="status"
      ></div>
    </div>
    <p class="m-0 p-0 text-start text-light">
      Removing {{ removingFiles.length }} files
    </p>
  </div>
</template>
<script>
export default {
  computed: {
    removingFiles() {
      return this.$store.getters.removingFiles;
    },
  },
};
</script>
