<template>
  <b-button-toolbar class="p-2 gap-2">
    <upload-dropdown />
    <create-folder-form />
    <b-button class="my-2" @click="logout">Logout</b-button>
  </b-button-toolbar>
</template>
<script>
import UploadDropdown from "./UploadDropdown.vue";
import CreateFolderForm from "./CreateFolderForm.vue";

export default {
  components: {
    UploadDropdown,
    CreateFolderForm,
  },
  methods: {
    logout() {
      this.$store.dispatch("logoutAndClearEntries");
      this.$router.push({ name: "Authorization" });
    },
  },
};
</script>
