<template>
  <div class="upload-button">
    <b-dropdown text="Upload" variant="primary" class="m-md-2">
      <b-dropdown-item @click="$refs.fileUpload.click()">File</b-dropdown-item>
      <b-dropdown-item @click="$refs.folderUpload.click()">
        Folder
      </b-dropdown-item>
    </b-dropdown>
    <input
      ref="fileUpload"
      type="file"
      class="d-none"
      @change="uploadFile"
      multiple
    />
    <input
      ref="folderUpload"
      type="file"
      class="d-none"
      @change="uploadFile"
      webkitdirectory
      directory
      multiple
    />
  </div>
</template>
<script>
import uploadMixin from "../mixins/upload";

export default {
  mixins: [uploadMixin],
};
</script>
