<template>
  <div class="tst-auth-container">
    <form @submit.prevent="verifyToken" class="d-flex gap-2">
      <b-form-input
        v-model="token"
        placeholder="Enter your dropbox app token"
      ></b-form-input>
      <b-button @click.prevent="verifyToken" variant="success">Send</b-button>
    </form>
  </div>
</template>
<script>
import rest from "../plugins/rest.api";

export default {
  data: () => ({
    token: "",
  }),
  methods: {
    verifyToken() {
      rest
        .post("/auth/verify-token", { token: this.token })
        .then((resp) => {
          this.$store.commit("auth", resp.data);
          this.$router.push({ name: "ExplorerRoot" });
        })
        .catch(() => {
          alert("Application token is invalid");
        });
    },
  },
};
</script>
<style scoped>
.tst-auth-container {
  height: 100vh;
  display: grid;
  align-content: center;
  padding: 0 20%;
}
</style>
