<template>
  <div class="home">
    <toolbar />
    <error-alert />
    <b-overlay :show="loading" class="mx-3">
      <path-view />
    </b-overlay>
    <removing-info />
    <uploading-info />
  </div>
</template>

<script>
import PathView from "../components/PathView.vue";
import Toolbar from "../components/Toolbar.vue";
import UploadingInfo from "../components/UploadingInfo.vue";
import RemovingInfo from "../components/RemovingInfo.vue";
import ErrorAlert from "../components/ErrorAlert.vue";

export default {
  name: "Home",
  components: {
    PathView,
    Toolbar,
    UploadingInfo,
    ErrorAlert,
    RemovingInfo,
  },
  computed: {
    loading() {
      return this.$store.getters.explorerLoading;
    },
  },
  watch: {
    "$route.path"() {
      this.getEntries();
    },
  },
  created() {
    this.getEntries();
  },
  methods: {
    getEntries() {
      const path = this.$route.path.replace("/explorer", "");
      this.$store.dispatch("getEntries", path);
    },
  },
};
</script>
